<div class="modal fade text-center modal-md" id="sign-in" tabindex="-1" aria-labelledby="loginModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-header__title fs-5" id="loginModalLabel">Sign in</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="login-form" name="login">
          <input required type="email" name="email" id="email" class="form-control mb-3 title" placeholder="Email" />
          <input name="password" id="password" required type="password" class="form-control mb-3 title"
            placeholder="Password" />
          <button class="btn btn-lg text-danger select-doctor-btn d-inline" name="submit-btn" data-bs-dismiss="modal"
            type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>