<header>
    <div class="container-fluid d-flex flex-wrap align-items-center justify-content-around py-3 mb-2">
        <a href="#" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-decoration-none">
            <img class="float-start logo" height="60px" src="./img/logo.svg" alt="logo">
            <h3 class="header__logo-title">MedClinic</h3>
        </a>
        <div class="col-md-3 d-flex justify-content-end">
            <button type="button" class="header__btn-create-visit text-light btn bg-danger d-block d-none"
                data-bs-toggle="modal" data-bs-target="#create-visit">Create visit</button>
            <button type="button" class="header__btn-login btn text-light d-block bg-danger " data-bs-toggle="modal"
                data-bs-target="#sign-in">Log in</button>
        </div>
    </div>
</header>