<main>
    <div class="container-fluid main-bg">
        <div class="main__text-wrapper">
            <h1 class="main__title">Welcome!</h1>
            <h2 class="main__login-text">Please, Log in...</h2>
        </div>
        <h2 class="main__items-text d-none">No items have been added</h2>
        <div class="main__cards-wrapper d-none"></div>

    </div>
</main>