<div class="modal fade text-center modal-md" id="create-visit" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-header__title fs-5" id="exampleModalLabel">Create visit</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="visit-form" name="visitForm">
                    <div class="doctors_section">
                        <select class="form-select mb-3 select-doctors" aria-label="Default select example"
                            name="doctor" required>
                            <option value="" selected disabled>Choose a doctor</option>
                            <option value="cardiologist" id="cardiologist">Cardiologist</option>
                            <option value="dentist" id="dentist">Dentist</option>
                            <option value="therapist" id="therapist">Therapist</option>
                        </select>
                    </div>
                    <div class="base-options">
                        <input name="purpose" required type="text" class="form-control mb-3 title"
                            placeholder="Purpose of visit" />
                        <input name="description" required type="text" class="form-control mb-3 title"
                            placeholder="Description of visit" />
                        <div class="priority-select" id="priority-select">
                            <select class="form-select mb-3 select-priority" aria-label="Default select example"
                                name="priority" required>
                                <option value="" selected disabled>Priority</option>
                                <option value="low" id="low">Low</option>
                                <option value="normal" id="normal">Normal</option>
                                <option value="high" id="high">High</option>
                            </select>
                        </div>
                        <input name="name" required class="form-control mb-3" type="text"
                            placeholder="Name & surname" />
                    </div>
                    <div class="cardiologist-options d-none">
                        <input class="form-control mb-3" type="text" placeholder="Pressure" name="pressure"
                            id="pressure" required />
                        <input class="form-control mb-3" type="text" placeholder="Body mass index" name="bodyMassIndex"
                            id="bodyMassIndex" required />
                        <input class="form-control mb-3" type="text" placeholder="Diseases of heart" name="heart"
                            id="heart" required />
                    </div>

                    <div class="dentist-options d-none">
                        <input class="form-control mb-3" type="text" placeholder="Date of last visit" name="lastVisit"
                            id="lastVisit" required />
                    </div>
                    <div class="therapist-options d-none">
                        <input class="form-control mb-3" type="text" placeholder="Age" name="age" id="age" required />
                    </div>

                    <button class="btn btn-lg text-danger select-doctor-btn d-inline" name="submit-btn"
                        type="submit">Create visit</button>

                </form>
            </div>
        </div>
    </div>
</div>