<div class="modal fade text-center modal-md" id="edit-visit" tabindex="-1" aria-labelledby="editModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-header__title fs-5" id="editModalLabel">Edit visit</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editForm" name="editForm">
                    <div class="doctors_section">
                        <select class="form-select mb-3 select-doctors" aria-label="Default select example"
                            name="doctor" id="doctor" required disabled>
                            <option value="" selected disabled>Choose a doctor</option>
                            <option value="cardiologist">Cardiologist</option>
                            <option value="dentist">Dentist</option>
                            <option value="therapist">Therapist</option>
                        </select>
                    </div>
                    <div class="base-options">
                        <input name="purpose" required type="text" class="form-control mb-3 title"
                            placeholder="Purpose of visit" id="purpose" />
                        <input name="description" required type="text" class="form-control mb-3 title"
                            placeholder="description of visit" id="description" />
                        <div class="priority-select">
                            <select class="form-select mb-3 select-priority" aria-label="Default select example"
                                name="priority" id="priority" required>
                                <option value="" selected disabled>Priority</option>
                                <option value="low">Low</option>
                                <option value="normal">Normal</option>
                                <option value="high">High</option>
                            </select>
                        </div>
                        <input name="name" id="name" class="form-control mb-3" type="text" placeholder="Name & surname"
                            required />
                    </div>
                    <div class="cardiologist-options">
                        <input class="form-control mb-3" type="text" placeholder="Pressure" name="pressure"
                            id="pressureCardiologist" required />
                        <input class="form-control mb-3" type="text" placeholder="Body mass index" name="bodyMassIndex"
                            id="bodyMassIndexCardiologist" required />
                        <input class="form-control mb-3" type="text" placeholder="Diseases of heart" name="heart"
                            id="heartCardiologist" required />
                    </div>
                    <div class="cardiologist-options">
                        <input class="form-control mb-3" type="text" placeholder="Age" name="age" id="ageCardiologist"
                            required />
                    </div>

                    <button class="btn btn-lg text-danger select-doctor-btn d-inline" name="submit-btn" type="submit"
                        id="submit-btn">Save</button>

                </form>
            </div>
        </div>
    </div>
</div>