<div class="modal fade text-center modal-md" id="edit-visit-therapist" tabindex="-1" aria-labelledby="editModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-header__title fs-5">Edit visit</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editFormTherapist" name="editForm">
                    <div class="doctors_section">
                        <select class="form-select mb-3 select-doctors" aria-label="Default select example"
                            name="doctor" id="doctorTherapist" required disabled>
                            <option value="" selected disabled>Choose a doctor</option>
                            <option value="cardiologist">Cardiologist</option>
                            <option value="dentist">Dentist</option>
                            <option value="therapist">Therapist</option>
                        </select>
                    </div>
                    <div class="base-options">
                        <input name="purpose" required type="text" class="form-control mb-3 title"
                            placeholder="Purpose of visit" id="purposeTherapist" />
                        <input name="description" required type="text" class="form-control mb-3 title"
                            placeholder="description of visit" id="descriptionTherapist" />
                        <div class="priority-select">
                            <select class="form-select mb-3 select-priority" aria-label="Default select example"
                                name="priority" id="priorityTherapist" required>
                                <option value="" selected disabled>Priority</option>
                                <option value="low">Low</option>
                                <option value="normal">Normal</option>
                                <option value="high">High</option>
                            </select>
                        </div>
                        <input name="name" id="nameTherapist" class="form-control mb-3" type="text"
                            placeholder="Name & surname" required />
                        <div class="therapist-options">
                            <input class="form-control mb-3" type="text" placeholder="Age" name="age" id="ageTherapist"
                                required />
                        </div>
                    </div>

                    <button class="btn btn-lg text-danger select-doctor-btn d-inline" name="submit-btn" type="submit"
                        id="submit-btn-therapist">Save</button>

                </form>
            </div>
        </div>
    </div>
</div>