<nav class="navbar navbar-expand-lg bg-danger">
    <div class="container-fluid">
        <form
            class="navbar__form d-flex flex-wrap justify-content-center align-items-end collapse navbar-collapse text-primary">
            <div class="me-5">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            </div>
            <div class="me-5">
                <label for="selectStatus" class="mr-2"></label>
                <select class="form-control form-select" aria-label="Default select example" id="selectStatus">
                    <option value="" selected>Choose Status</option>
                    <option value="Open">Open</option>
                    <option value="Done">Done</option>
                </select>
            </div>
            <div>
                <label for="selectPriority" class="mr-2"></label>
                <select class="form-control form-select" aria-label="Default select example" id="selectPriority">
                    <option value="Choose Priority" selected>Choose Priority</option>
                    <option value="high">High</option>
                    <option value="normal">Normal</option>
                    <option value="low">Low</option>
                </select>
            </div>
        </form>
    </div>
</nav>