@import "_variables";
@import "_mixins";

html {
  height: 100%;
}

body {
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-attachment: fixed;
}

h1,
h2 {
  text-align: center;
}

/* header section */
.header__logo-title {
  color: #dc3545;
  padding-left: 5px;
  font-size: 22px;
}

.header__btn-create-visit {
  background-color: #dc3545 !important;
}

header button {
  min-width: 100px;
  overflow: hidden;
  max-height: 38px;
}

.main__cards-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1em;
  padding: 2em;
}

.card {
  padding: 1em;
}

.card-button {
  position: absolute;
  top: 1em;
  right: 1em;
}

[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

.header__btn-create-visit {
  padding: 1px solid #dc3545;
}

.btn-warning {
  position: absolute;
  bottom: 1em;
  right: 1em;
}

.form-login {
  display: none;
  width: 50%;
  flex-direction: column;
  margin: 10% auto;
}

.main__items-text {
  margin-top: 25px;
}
